/* ==========================
   Global
========================== */

body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* ==========================
   Navbar
========================== */

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2.5rem;
}

.nav-link {
    color: #222 !important;
}

/* ==========================
   Footer
========================== */

.f-info {
    text-align: center;
    background-color: #ebebeb;
    height: 10rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-links a {
    text-decoration: none;
    color: #222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-socials i {
    font-size: 1.4rem;
    margin-right: 1rem;
}

/* ==========================
   Cards
========================== */

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    width: 100% !important;
    height: 20rem;
    object-fit: cover;
    border-radius: 1rem !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 500;
}

.listing-link {
    text-decoration: none;
    color: #222;
}

.card:hover {
    transform: translateY(-5px);
    transition: all .3s ease;
    box-shadow: 0 5px 15px rgba(0,0,0,.18);
    opacity: .95;
}

/* ==========================
   Buttons
========================== */

.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.edit-btn:hover {
    background-color: #d63641 !important;
}

.del-btn {
    background-color: #222 !important;
    border: none !important;
}

.del-btn:hover {
    background-color: black !important;
}

/* ==========================
   Show Page
========================== */

.show-img {
    height: 30vh;
    object-fit: cover;
}

.btns {
    display: flex;
    gap: 1rem;
}

/* ==========================
   Review Section
========================== */

.review-divider {
    border: none;
    border-top: 2px solid #bdbdbd;
    margin: 2rem 0;
}

.review-heading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.cards {
    border: 1px solid #ddd;
    border-radius: 1rem;
    padding: 1rem;
    transition: .3s;
}

.cards:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0,0,0,.12);
}

.cards .card-title {
    font-weight: 700;
}

.cards .card-text {
    margin-bottom: .5rem;
}

/* ==========================
       Map Section
========================== */
#map {
    height: 400px;
    width: 80vh;
}